body
{
	/* a background image for all 3 sections */
	background-image: url(../images/bwcode.jpeg);
	height: 100%;
	padding:0px;
	margin: 0px; 
}
ul#navi
{
	/* menu would stay at top all time even though you keep scrolling down */
	position: fixed;
    top: 0;
    width: 100%;
	list-style-type: none;
	margin: 0;
    padding: 0;
	overflow: hidden;
	background-color: #1a1a1a;
	opacity:1;
}

/*making the menu horizontal and tabs lean to the right*/
ul#navi li
{
	float:right;
}

/*menu tabs styling*/
ul#navi li a
{
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 20px;
	font-family:verdana;
}

/*menu tabs change color when mouse hover*/
ul#navi li a:hover{background-color: #404040;}

/*different color for each tab*/
li#tab1{background-color:#00cccc;}
li#tab2{background-color:#ffaa00;}
li#tab3{background-color:#ff0066;}

/*for the 3sections of the webpage,I've used an opacity effect as a background to allow viewer knowing which tab they have clicked */
div#about
{
	background: rgba(0,204,204,0.1);
	padding:450px;
}

div#portfolio
{
	background: rgba(255,170,0,0.1);
	padding:450px;
}

a#ghicon
{
	width:50%;
	height:50%;
}

div#contact
{
	background: rgba(255,0,102,0.1);
	padding:450px;
}

h1
{
	color:#ffffff;
	font-size: 80px;
}

p
{
	background: rgba(77, 77, 77, 0.8);
	color:#ffffff;
	font-size: 30px;
	overflow:auto;
}

/* styling for the contact form*/
form
{
	background-color:#737373;
	color:#ffffff;
	padding:12px 20px;
	margin:8px 0;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-sizing: border-box;
}